@using SampleWebApp.Components
@{
	Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>inBloom API Library - Sample Web App</title>
		<link href="@Url.Content("~/Content/Bootstrap/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />
		<style type="text/css">
			.btn-large {
				padding: 10px 30px 10px 30px;
			}
			.hero-unit {
				margin-top: 100px;
			}
			.hero-unit p:last-child {
				margin-top:30px;
			}
			small {
				float: left;margin: 20px 0 0 0;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>inBloom API .NET Library</h1>
				<br/>
				<p>This is a .NET library for providing developers a fast track to connecting with the inBloom data store.<br/>You can find further information at any of the links below:</p>
				<ul>
					<li><a href="https://github.com/upeo/inbloom-dotnet">GitHub repository</a></li>
					<li><a href="https://www.inbloom.org/sites/default/files/docs-developer-1.0.68-20130118/index.html">inBloom REST API Documentation</a></li>
				</ul>
					
				@{
					if (!string.IsNullOrEmpty(SessionInfo.Current.AccessToken))
					{
						<p>You are currently logged in as: @SessionInfo.Current.FullName</p>
						<p><a href="@Url.Action("Index", "Dashboard")" class="btn btn-large btn-primary">Go to Dashboard</a></p>
					}
					else
					{
						<p>Login below to access the sample application</p>
						<p><a href="@Url.Action("Login")" class="btn btn-large btn-primary">Login</a></p>
					}
				}
				<small>The inBloom API .NET Library and sample application is developed &amp; maintained by <a href="http://www.upeo.com/">Upeo, LLC</a></small>
			</div>
		</div>
	</body>
</html>