<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="inBloomApiClientId" value="82JWfrQtZi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="inBloomApiClientSecret" value="spE7caEiB9sSCdVlmfr53hbJy1WeZb3L1pVdWKI0S3wTGD5I" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="inBloomApiRedirectUrl" value="http://inbloom-dotnet.azurewebsites.net/Authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>