<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="inBloomApiClientId" value="tbcwdhdqdb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="inBloomApiClientSecret" value="2bsdqa89wiqcarwgvhrc1z1c1yddf0ptqaqgr7ogkfryt1yo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="inBloomApiRedirectUrl" value="https://localhost/InBloomDemo2/Authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>