<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!--You can get the clientId and secret from your inBloom application details page when you registered your application-->
		<add key="inBloomApiClientId" value="" />
		<add key="inBloomApiClientSecret" value="" />
		<!--The redirect URL must point back to the URL specified when you registered your application-->
		<add key="inBloomApiRedirectUrl" value="http://localhost:3290/authorization.ashx" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<customErrors mode="Off" />
        <httpHandlers>
            <add verb="*" path="Authorization.ashx" type="Upeo.inBloomApiLibrary.TestWebApp.AuthorizationHandler, Upeo.inBloomApiLibrary.TestWebApp" />
        </httpHandlers>
    </system.web>
</configuration>